.navigation {
  display: flex;
  justify-content: space-between;
  margin: 3.4375em 0;
}
.list {
  display: flex;
}
.item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.casesWrapper {
  margin-left: 15em;
}
@media (orientation: portrait) {
  .navigation {
    flex-direction: column;
  }
  .list {
    margin-top: 2.55em;
  }
}
