.header {
  padding: 3.125em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 2.25em;
  font-weight: 800;
  letter-spacing: 0.01em;
}
.menu {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* padding: 0.5em 1.111em; */
  padding: 0.27em 1.111em;
  margin-left: 2.67em;
  border: 0.1em solid var(--dark);
  border-radius: 2.61em;
  font-family: RedHat;
  font-size: 1.125em;
  font-weight: 400;
  cursor: pointer;
}
.dotMenu {
  fill: var(--dark);
  width: 0.222em;
  margin-right: 0.556em;
}
/* .menu:hover .dot,
.menu:focus .dot {
  animation-play-state: paused;
} */
.dots {
  display: flex;
  margin-bottom: 0.4em;
}
/* .dot {
  margin-right: 0.556em;
  font-weight: 800;
  animation: 0.5s dotsMove ease-in-out infinite alternate;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
} */
.list {
  display: flex;
  align-items: center;
}
.item {
  margin-right: 3em;
  text-align: center;
  font-family: RedHat;
  font-size: 1.125em;
  line-height: 133.333%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.item::after {
  content: "";
  display: block;
  width: 0;
  height: 0.1em;
  background-color: var(--grey);
  transition: all 0.3s ease-in-out;
}
.item:hover,
.item:focus {
  color: var(--grey);
}
.item:hover::after,
.item:focus::after {
  width: 100%;
}
.item a {
  color: inherit;
}
.lang {
  padding: 0.5em;
  border: 0.11em solid var(--dark);
  border-radius: 50%;
  text-align: center;
  font-family: RedHat;
  font-size: 1.125em;
  line-height: 133.333%;
  text-transform: uppercase;
}
@keyframes dotsMove {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -0.1em);
  }
}

@media (orientation: portrait) {
  .menu {
    display: flex;
  }
  .list,
  .lang {
    display: none;
  }
  .logo {
    font-size: 3.41em;
  }
  .menu {
    font-size: 2.556em;
  }
}
