.container {
  width: fit-content;
  /* display: inline-block; */
  padding: 0.5em 1.111em;
  border-radius: 2.333em;
  border: 0.11em solid var(--grey);
  font-family: RedHat;
  font-size: 1.125em;
  line-height: 133.333%;
  color: var(--grey);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.active {
  background: var(--main);
  color: var(--dark);
  border-color: var(--main);
}
.sliderInActiv {
  color: var(--white);
  border-color: var(--white);
}
