.title {
  margin-bottom: 0.82em;
  font-size: 3.4375em;
  line-height: 130.909%;
}
.wrapper {
  position: relative;
  padding: 1.625em;
  border-radius: 2.8125em;
  background: var(--dark);
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  /* height: 36em; */
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.wrapper:hover .image {
  /* opacity: 0; */
  /* transform: scale(0); */
  /* transform: translateY(-200%); */
  /* filter: blur(0.5em); */
  /* position: relative; */
  /* z-index: -1; */
}

.education::before,
.planty::before,
.citf::before,
.icedate::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  /* filter: blur(0.5em); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* transform: translateY(100%); */
  /* transform: scale(0); */
  /* opacity: 0; */
  transition: all 1s ease-in-out;
  /* border: 0.5em solid var(--main);
  border-radius: 2.8125em; */
  /* z-index: 1; */
}
.education::before {
  background-image: url(../../images/cases/education2.png);
}
.planty::before {
  background-image: url(../../images/cases/planty2.png);
}
.citf::before {
  background-image: url(../../images/cases/citf2.png);
}
.icedate::before {
  background-image: url(../../images/cases/iceDate2.png);
}
.education:hover::before,
.planty:hover::before,
.citf:hover::before,
.icedate:hover::before {
  /* transform: translateY(0); */
  /* transform: scale(1); */
  /* opacity: 1; */
  /* filter: blur(0); */
}
.pixeledImage {
  opacity: 0;
  /* transform: translateY(100%); */
  transition: all 0.5s ease-in-out;
}
.wrapper:hover .pixeledImage {
  opacity: 1;
  /* transform: translateY(0); */
}
.imagePixeled {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* opacity: 1; */
  /* opacity: 0; */
  /* transform: translateY(100%); */
  /* transform: scale(0); */

  transition: all 1s ease-in-out;
  /* clip-path: polygon(
    0% 0%,
    96.32% 0%,
    93.8% 0%,
    95.01% 6.98%,
    92.76% 13.69%,
    93.88% 19.74%,
    92.05% 24.98%,
    95.93% 28.3%,
    93.41% 31.63%,
    95.01% 35.65%,
    92.72% 39.31%,
    96.9% 45.38%,
    95.56% 45.56%,
    93.02% 53.7%,
    95.83% 58.28%,
    93.02% 61.27%,
    94.87% 66.5%,
    92.31% 70.58%,
    95.97% 73.71%,
    93.02% 82.56%,
    97.71% 87.29%,
    96.16% 94.13%,
    97.3% 100%,
    100% 100%,
    0% 100%
  ); */
  clip-path: polygon(
    evenodd,
    0% 0%,
    5.57% 3.9%,
    11.24% 0.83%,
    18.04% 5.44%,
    23.5% 2.76%,
    30.25% 4.75%,
    34.6% 2.69%,
    39.23% 4.02%,
    45% 1.95%,
    53.13% 3.9%,
    63.29% 2.38%,
    67.12% 5.5%,
    73.46% 1.95%,
    79.15% 4.68%,
    86.47% 2.34%,
    90.74% 4.66%,
    94.17% 3.42%,
    93.8% 0%,
    94.54% 6.85%,
    92.76% 13.69%,
    93.88% 19.74%,
    92.05% 24.98%,
    95.93% 28.3%,
    93.41% 31.63%,
    95.01% 35.65%,
    92.72% 39.31%,
    96.9% 45.38%,
    95.56% 45.56%,
    93.02% 53.7%,
    95.83% 58.28%,
    93.02% 61.27%,
    94.87% 66.5%,
    92.31% 70.58%,
    95.97% 73.71%,
    93.02% 82.56%,
    97.71% 87.29%,
    96.16% 94.13%,
    97.3% 100%,
    100% 100%,
    0% 100%
  );
}

.wrapper:hover .imagePixeled {
  /* display: block; */
  /* opacity: 1; */
  /* transform: translateY(0); */
  /* transform: scale(1); */

  width: 100%;
}

.imgPix {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
.activeSlide {
  background: var(--main);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.list {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 0.625em;
  margin-bottom: 2.125em;
}
.image {
  width: 32.5625em;
  transition: all 1s ease-in-out;
}
.block {
  text-align: center;
  /* width: 100%;
  height: 100%; */
}
.button {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0.5em 1.11em;
  border: 0.1em solid var(--main);
  border-radius: 2.61em;
  background: var(--dark);
  font-size: 1.125em;
  cursor: pointer;
}
.arrow,
.arrowNavBtnNext,
.arrowNavBtnPrev {
  width: 0.875em;
  color: var(--main);
  margin-right: 0.45em;
  animation: 0.5s arrowRight ease-in-out infinite alternate;
  animation-play-state: paused;
}
.arrowNavBtnNext,
.arrowNavBtnPrev {
  color: var(--grey);
  margin-left: 0.45em;
}
.arrowNavBtnPrev {
  rotate: 180deg;
}
.btnText {
  color: var(--main);
  font-family: RedHat;
  line-height: 133.333%;
  text-transform: uppercase;
}
.button:hover .arrow,
.button:focus .arrow {
  animation-play-state: running;
}
.swiperBtns {
  display: flex;
  justify-content: flex-end;
  margin: 3.4375em;
  margin-right: 15em;
}
.btnNext,
.btnPrev {
  display: flex;
  align-items: center;
  padding: 0.5em 1.11em;
  text-align: center;
  font-family: RedHat;
  font-size: 1.125em;
  line-height: 133.333%;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2.61em;
  border: 0.11em solid var(--grey);
  color: var(--grey);
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.btnPrev {
  margin-right: 0.56em;
}
.btnNext:hover .arrowNavBtnNext,
.btnNext:focus .arrowNavBtnNext,
.btnPrev:hover .arrowNavBtnPrev,
.btnPrev:focus .arrowNavBtnPrev {
  color: var(--dark);
}
.btnNext:hover,
.btnNext:focus,
.btnPrev:hover,
.btnPrev:focus {
  color: var(--dark);
  background-color: var(--main);
  border-color: var(--main);
}
.item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@keyframes arrowRight {
  100% {
    transform: translateX(0.2em);
  }
}
@media (orientation: portrait) {
  .list {
    font-size: 0.752em;
    margin-bottom: 4.55em;
  }
  .button {
    font-size: 1.704em;
    margin: auto;
  }
  .block {
    margin-bottom: 1.704em;
  }
  .image {
    width: 14.34em;
  }
  .swiperBtns {
    margin: 4.26em 10.5em 7.81em 0;
  }
  .btnNext,
  .btnPrev {
    font-size: 1.704em;
  }
  .item {
    font-size: 0.9em;
  }
  .education::before,
  .planty::before,
  .citf::before,
  .icedate::before {
    height: 27.4em;
  }
}
